h1 {
    color: rgb(139, 19, 69);
    text-align: center;
    text-decoration: wavy;
}

body{
    color: lawngreen;
    text-align: center;
    background-image: url('background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

h5 {
    text-align: center;
    color: red;
    font-weight: 900;
    font-size: xx-large;
}

.center {
    text-align: center;
    margin: auto;
    width: 50%;
    border: 3px solid gray;
    padding: 10px;
  }



